// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todoApp {
	* { box-sizing: border-box; }

	width: 300px;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
	margin: 50px auto 0;
	ul {
		padding: 0;
		margin: 0 ;
    	list-style: none;

		li {
			padding: 10px 15px;
			&:hover {
				background-color: #f0f0ff;
				cursor: pointer;
			}

			span.completed {
				text-decoration: line-through;
			}

			a {
				float: right;
				text-decoration: none;
			}
		}
	}

	form {
		input[type=text] {
			width: 245px;
			height: 32px;
			padding-left: 15px;
			padding-right: 15px;
		}
		input[type=submit] {
			width: 50px;
			height: 32px;
			padding: 0;
			margin: 0;
			border: 0;
			float: right;
		}
	}
}
